.cards {
  overflow-y: auto;
}

.sort-area {
  position: relative;

  .sort-input {
    display: none;
  }

  .sort-options {
    text-transform: capitalize;
  }
}

.sort-label {
  margin: 0;
  font-size: 1.33rem;

  &:after {
    margin-left: 5px;
    font-size: 1.1rem;
    font-family: "FontAwesome";
    content: "\f0d7";
  }

  .sort-input:checked + & {
    &:after {
      content: "\f0d8";
    }
  }

}

.sort-input + .sort-label + div {
  display: none;
  width: 100%;
  position: absolute;
}

.sort-input:checked + .sort-label  + div {
  display: flex;
  margin-top: 2px;
  flex-direction: column;
  border: 1px solid #777;

  button {
    border: none;
    width: 100%;
    padding: 3px;
    background-color: #fff;

    &:hover {
      background-color: #fff6dc;
      cursor: pointer;
    }
  }
}

.like-card {
  border-bottom: 1px solid #ddd;
  padding: 5px 0 10px 0;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #fff6dc;

    .search,
    .delete {
      visibility: visible;
    }
  }

  .content {
    flex: 1;
    margin-left: 5px;
  }

  .btn {
    outline: none !important;
  }

  .side {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
  }

  .search,
  .delete {
      outline: none;
      display: table;
      visibility: hidden;
      width: 40px;
      height: 40px;
      color: #434343;
      font-weight: bold;
      font-size: 1.3em;
      background: #ffd65e; /* Old browsers */
      background: linear-gradient(to bottom, #fadc83 0%,#febf01 100%);
      border: 1px solid #f39c12;
      border-radius: 5px;
      text-decoration: none;

      &:before {
        display: table-cell;
        vertical-align: middle;
        font-family: "FontAwesome";
        padding: 0 0 0 8px;
      }

      &:hover {
        background: #ffd65e; /* Old browsers */
        background: linear-gradient(to bottom, #f1c40f 0%,#f39c12 100%);
        cursor: pointer;
      }
  }

  .search {
    &:before {
      content: "\f002";
    }
  }

  .delete {
    color: #434343;
    &:before {
      padding: 0 0 0 5px;
      content:"\f014";
    }
  }

  .card-header {
    border-bottom: 1px solid #333;
    margin: 0;
  }

  .heading {
    font-size: 18px;
    margin: 0;
  }

  .sub-heading {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    & span:first-child {
      padding: 2px 0;
    }

    .rating,
    .badges,
    .currentJobs,
    .favorite,
    .responseTime,{
      align-self: center;
      padding: 3px 10px;
      height: 25px;
      font-size: 13px;
    }

    .currentJobs {
      &:before {
        content: "in ";
      }

      &:after {
        content: " jobs(s)";
      }

    }

    .favorite {
      &:before {
        background-color: #FFD700;
        border-radius: 50%;
        color: #eee;
        font-family: "FontAwesome";
        padding: 2px;
        margin-right: 8px;
        content: "\f005";
      }

      &:after {
        content: "Marked as favorite";
      }
    }

    .responseTime {
      &:before {
        font-family: "FontAwesome";
        content: "\f253";
        margin-right: 4px;
        padding: 2px;
      }

      &.fast {
        color: #2980b9;
      }

      &.warning {
        color: #e74c3c;
      }
    }

    .badges {
      display: flex;
      flex-direction: row;

      .badge {
        padding: 4px;
        margin-right: 5px;
        background-color: #34495e;
        color: #eee;
        align-self: center;
      }
    }
  }
}