.editor-area {
  position: relative;
  margin-right: 0 !important;
}

.inline-editor-area {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;

  input {
    flex: 1;
    flex-basis: 400px;
    margin-right: 10px;
  }

  button {
    flex: 1;
    flex-basis: 80px;

    &:last-child {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  textarea {
    flex: 1;
    flex-basis: 100%;
    resize: none;
    margin-right: 10px;
    min-height: 100px;
  }
}

.editor {
  z-index: 9999;
  text-align: left;
  min-width: 250px;

  .message {
    max-width: 95%;
    margin-bottom: 5px;
  }

  .buttons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .Select-multi-value-wrapper {
    max-width: 310px;
  }
}