.editor-area {
  position: relative;
  margin-right: 0 !important;
}

.inline-editor-area {
  display: flex;
  flex-wrap: wrap;

  input {
    flex-basis: 400px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  button {
    width: 80px;
    margin-left: 10px;
  }
}

.editor {
  z-index: 9999;
  text-align: left;
  min-width: 250px;

  .message {
    max-width: 95%;
    margin-bottom: 5px;
  }

  .buttons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .Select-multi-value-wrapper {
    max-width: 310px;
  }
}