.editor-area {
  position: relative;
  margin-right: 0 !important;
}

.editor {
  z-index: 9999;
  text-align: left;
  min-width: 250px;

  .message {
    margin-bottom: 5px;
  }

  .buttons {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .save,
    .cancel {
      margin-left: 10px;
    }
  }
}