.form-component {
  display: flex;
  flex-direction: column;
  color: #eee;

  .title {
    margin-top: 10px;
    background-color: #34495e;
    width: max-content;
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .Select.header-select {
    margin-top: 10px;
    margin-bottom: 1px;
  }

  .Select.header-select,
  .Select.header-select .Select-control {
    width: 240px;
    height: 35px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .Select-placeholder {
      color: #34495e;
      font-weight: bold;
      font-size: 1.25rem;
    }
  }

  .inputs {
    padding: 10px 20px 2px 20px;
    background-color: #34495e;
    display: flex;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .form-group {
      margin-bottom: 8px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      label {
        flex-basis: 160px;
        margin-bottom: 0;
      }

      select.custom-select,
      input.form-control {
        height: 35px;
        padding: 8px;
      }

      .input-group,
      select.custom-select,
      input.form-control,
      .Select {
        flex: 1;
      }

      .date-from-to {
        display: flex;
        flex-direction: row;
      }

      .until-time {
        text-align: center;
      }

      input[type="number"] {
        border: none;
      }
    }

    .input-group-text {
      height: 35px;
    }
  }

  .inputs-as-column {
    flex-direction: column;
    width: 100%;

    .form-group {
      flex: 1;
    }
  }

  .inputs-as-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-group {
      flex: 0 1 45%;
    }
  }
}