@import '~bootstrap/scss/bootstrap.scss';
@import '../ui/checkbox';
@import '../ui/switch';
@import '../ui/form-component';
@import '../ui/cards';
@import './sb-admin';
@import '../view/home';
@import '../view/login';
@import '../view/list';
@import '../view/employee-details';
@import '../view/favorites-list';

html {
    font-size: 16px;
}

.example{
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

.form-area {
    display: flex;
    flex: 1;
    min-height: fit-content;

    .form-component {
        flex: 1;
    }

    .form-component:first-child {
        margin-right: 20px;
    }
}

.top-btn {
    position: absolute;
    top: 0;
    right: 15px;
    display: flex;
    justify-content: flex-end;

    button:last-child {
        margin-left: 20px;
    }
}

.no-match {
    margin-top: 13px;
}

button {
    i {
        padding-right: 10px;
    }
}