.list-header {
  margin-top: 5px;
  border-bottom: 1px solid #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h3 {
    margin: 0;
  }

  .sort-area {
    .sort-label + div {
      position: absolute;
      width: max-content;
      right: 0px;

      button {
        padding: 0 10px;
        text-align: left;
        font-size: 1.1rem;
      }
    }
  }
}

.side {
  margin-right: 5px;
}